body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}
b {
    border: 1px solid #f00;
}

.edit {
    width: 100%;
    min-height: 1em;
    border: 1px solid #000;
    background-color:white;
}

.edit p {
    margin-top: 0;
}
.semantic{
    margin: 5px;
    padding: 5px;
    border: black dotted;
    background-color: #dddcb9;
}
#content {
    padding-bottom: 1em;
}
.panel {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 2px;
    left: 0;
    z-index: 999;
}
.close {
    position: relative;
    top: 0;
    left: 99%;
    z-index: 999;
}